body {
    margin: 40px;
  }
  
  .wrapper {
  display: grid;
  grid-gap: 10px;
      grid-template-columns: 100px 100px 100px;
      background-color: #fff;
      color: #444;
  }

  .box {
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      padding: 20px;
      font-size: 150%;

  }

  .a {
      grid-area: 1 / 2 / 2 / 3;
  }
  .b {
      grid-area: 2 / 2 / 3 / 3;
  }
  .c {
      grid-area: 2 / 3 / 3 / 4;
  }
  .d {
      grid-area: 1 / 1 / 2 / 2;
  }
  .e {
      grid-area: 2 / 1 / 3 / 2;
  }
  .f {
      grid-area: 1 / 3 / 2 / 4;
  
  